/*====== All Custom Files Include Here ======*/
@import './custom/common';
@import './custom/header';
@import './custom/sidebar';
@import './custom/horizontal-menu';
@import './custom/agency-layout';
@import './custom/main';
@import './custom/dashboard';
@import './custom/ul-element';
@import './custom/advance-ui-element';
@import './custom/forms';
@import './custom/tables';
@import './custom/editor';
@import './custom/drag-drop';
@import './custom/pages';
@import './custom/user';
@import './custom/home';
@import './custom/offers';
@import './custom/session';
@import './custom/effect';
@import './custom/widgets';
@import './custom/extensions';

.marker {
  font-family: 'Permanent Marker', cursive !important;
  color: #111111;
}

.new_badge {
  padding: 0.45rem 0.7rem !important;
}

.clipping-shit {
  clip-path: polygon(0px 100px, 0px 800px, 1400px 700px, 1400px 0px);
}

.oferta_acostada {
  -webkit-transform: rotateX(45.26366581533504deg)
    rotateY(-19.48056503444799deg) rotateZ(45.26366581533504deg)
    translateX(80px) translateY(70px);
  transform: rotateX(45.26366581533504deg) rotateY(-19.48056503444799deg)
    rotateZ(45.26366581533504deg) translateX(80px) translateY(70px);
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.truncateText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.truncateParagraph {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.hiddenElement {
  display: none;
}

.visibleElement {
  position: relative;
  bottom: 100px;
  left: 170px;
  height: 58px;
  width: 58px;
}

.noHeight {
  height: 0;
}
