= react_component('views/users/wizards/step_tens/show',
  {formInfo: @user.form_information,
  registered_acknowledgments: @user.registered_acknowledgments,
  registered_acknowledgments_message: @user.registered_acknowledgments_message,
  csrf_param: request_forgery_protection_token,
  csrf_token: form_authenticity_token,
  log_out_user: destroy_user_session_path,
  log_out_companies: destroy_company_session_path,
  user_signed_in: user_signed_in?,
  company_signed_in: company_signed_in?,
  session_translation: I18n.t("session") }, prerender: false)