tmp
log
.gems
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
app/helpers
*.swp
storage
spec/examples.txt
.DS_Store

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
public/assets
.data
public/rubycritic

# Ignore master key for decrypting credentials and more.
/config/master.key
coverage
*.swp
.ssh
.env
.ruby-version
stats.js