= react_component('views/devise/registrations/new/index',
  { csrf_param: request_forgery_protection_token,
    csrf_token: form_authenticity_token,
    alert_message: alert,
    notice_message: notice,
    registration_path: registration_path(resource),
    source_name: resource_name,
    terms_and_conditions_file_path: ENV['TERMS_AND_CONDITIONS_FILE_PATH'],
    user_facebook_omniauth_authorize_path: user_facebook_omniauth_authorize_path,
    session_translation: I18n.t("session")}, prerender: false )
