.basic_form {
  h1 {
  background-color: #f2f2f2;
    text-align: center;
    font-size: 3rem;
    margin: 2vh 0;
  }

  .group {
    display: flex;

    &.--forTextArea {
      flex-direction: column;

      textarea {
        height: 15vh;
      }

    }

    .hidden {
      display: none;
    }

    .input, span {
      width: 100%;
    }

    span {
      margin-right: 8px;

      label {
        input {
          margin: 10px;
        }
      }
    }
  }

  input[type=text], input[type=number], select {
    width: 100%;
    padding: 1vh 2vw;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 1vh 2vw;
    margin: 8vh 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
}
