.m-loginHeader {
  .modalCloseIcon__button {
    color: $color__slategray-light;
  }

  .MuiBackdrop-root {
    backdrop-filter: blur(3px);
    background-color: transparentize($color__slategray-main, 0.5);
  }
}

.m-loginContent {
  padding: 0 40px;
  @media (max-width: 576px) {
    padding: 0 20px;
  }

  .loginTitle {
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;

    @media (max-width: 576px) {
      font-size: 1rem;
      margin-bottom: 10px;
    }
  }

  .loginInputContainer {
    display: flex;
    align-items: center;
    border: 1px solid $color__slategray-light;
    border-radius: 0.25rem;
    margin-top: 5px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);

    .loginInput {
      display: block;
      width: 100%;
      padding: 10px 10px 10px 15px;
      font-size: 1rem;
      line-height: 1.5;
      color: $color__slategray-dark;
      border: 0;
      background: none;
      text-transform: none;
      border-color: $color__slategray-light;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

      @media (max-width: 576px) {
        padding: 7px 7px 7px 10px;
        font-size: 0.875rem;
      }

      &::placeholder {
        color: $color__slategray-light;
      }
    }

    .loginInput__icon {
      top: 0.75rem;
      left: 0.5rem;
      margin-left: 15px;
    }
  }

  .loginForgotPassword {
    margin-top: 10px;
    text-align: center;
  }

  .loginForgotPassword__link {
    color: $color__slategray-main;
    text-decoration: underline;
    font-size: 0.8125rem;
  }

  .loginButton__wrapper {
    padding: 0 30px;
    margin: 20px auto;
    text-align: center;

    @media (max-width: 576px) {
      margin: 10px auto;
    }
  }

  .loginAs {
    margin: 20px 0 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;

    @media (max-width: 576px) {
      margin-top: 10px;
      font-size: 0.875rem;
    }
  }

  .loginButton {
    text-transform: none;
    font-size: 1rem;
    font-weight: 900;
    letter-spacing: 1.43px;

    @media (max-width: 576px) {
      padding: 10px;
      width: 100%;
    }
  }

  .loginSocial {
    margin-top: 40px;
    @media (max-width: 576px) {
      margin-top: 20px;
    }

    .MuiButton-root {
      color: $color__slategray-main;
    }
  }

  .a-radioItems {
    color: $color__slategray-main;
    .MuiRadio-colorSecondary,
    .MuiRadio-colorSecondary.Mui-checked {
      color: $color__blue-main;
    }
    .MuiRadio-colorSecondary:hover,
    .MuiRadio-colorSecondary.Mui-checked:hover {
      background-color: transparentize($color__blue-main, 0.92);
    }
  }

  @media (max-width: 576px) {
    .MuiTypography-body1 {
      font-size: 0.875rem;
    }
  }
}

.loginActions {
  &.MuiDialogActions-root {
    padding: 10px 0;
  }

  .loginActions__divider {
    width: 100%;
    height: 1px;
    background-color: transparentize($color__slategray-light, 0.8);
    margin-bottom: 20px;
  }
}

.m-termsAndConditions {
  text-align: center;
}

.termsAndConditions__checkbox {
  margin-right: 15px;

  &.MuiIconButton-colorSecondary,
  &.MuiCheckbox-colorSecondary.Mui-checked {
    color: $color__blue-main;

    @media (max-width: 576px) {
      padding: 0;
      margin-top: 5px;
    }

    &:hover {
      background-color: transparent;
    }
  }
}

.m-loginModal {
  .MuiBackdrop-root {
    backdrop-filter: blur(3px);
    background-color: transparentize($color__slategray-main, 0.5);
  }

  @media (max-width: 576px) {
    .MuiDialog-paper {
      max-width: 100%;
      width: 100%;
      margin: 20px;
    }
  }
}
