.m-navItems {
  .a-navItem {
    @media (max-width: 992px) {
      margin: 20px 0;
      text-align: center;
    }
  }

  .a-navItem a,
  .a-navItem button {
    font-weight: bold;
    color: $color__purple-darkest;
    font-size: 0.8125rem;
    -webkit-appearance: none;
    background: none;
    letter-spacing: normal;
    cursor: pointer;
    padding: 0;

    @media (max-width: 576px) {
      color: $color__white-main;
    }
    &:hover{
      color: $color__orange-main;
    }
  }

  .a-navItem__button {
    @media (max-width: 576px) {
      width: 100%;
    }

    a {
      text-transform: none;
      padding: 6px 16px;
      @media (max-width: 576px) {
        justify-content: center;
      }
    }

    svg.MuiSvgIcon-root {
      font-size: 1.25rem;
    }
  }
}

