/*========== Page Home ============*/
.home-wrapper {
  .filter-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.8px;
    color: #808080;
    .text-style-1 {
      letter-spacing: -0.8px;
      color: #f23c21;
    }
    @media (max-width: '425px') {
      font-size: 1.4rem;
    }
  }

  .rct-block .rct-block-content {
    padding: 0rem 1.9rem;
  }

  .pt-rem {
    padding-top: 1rem;
  }

  .contenedor {
    width: 75% !important;
    .contenido {
      width: 20% !important;
      @media (max-width: '425px') {
        width: 45% !important;
      }
    }
    @media (max-width: '768px') {
      width: 100% !important;
    }
  }

  .search_button {
    margin-left: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  li {
    a:link,
    a:visited {
      &.--trendLink {
        color: $color__gray-main;
      }
    }

    a:hover {
      &.--trendLink {
        color: $color__slategray-dark;
      }
    }
  }
}
