---
http_interactions:
- request:
    method: post
    uri: https://api.clientify.net/v1/api-auth/obtain_token/
    body:
      encoding: UTF-8
      string: |-
        {
            "username": "vladimir@hoytrabajas.com",
            "password": "unicornio2020"
        }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Allow:
      - POST, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"token":"a7b2a35e8ea5151a084fd5f80479bbdfa0ff0a5c","user_id":14075}'
  recorded_at: Mon, 09 Mar 2020 15:27:29 GMT
recorded_with: VCR 5.1.0
