---
http_interactions:
- request:
    method: get
    uri: https://api.clientify.net/v1/contacts/?contact_source=Facebook
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token a7b2a35e8ea5151a084fd5f80479bbdfa0ff0a5c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"count":2,"next":null,"previous":null,"results":[{"url":"https://api.clientify.net/v1/contacts/5863851/","id":5863851,"owner":"camilo@hoytrabajas.com","owner_name":"Andres
        Camilo Ruiz Diaz","first_name":"camu garaje grill","last_name":"","status":"in-deal","title":"Mesera
        tiempo completo","company":null,"emails":[{"type":4,"email":"camugrill@gmail.com"}],"phones":[{"type":3,"phone":"3000778"}],"picture_url":null,"created":"2019-11-13T18:21:06.458410+01:00","last_contact":"2019-11-21T17:15:20+01:00"},{"url":"https://api.clientify.net/v1/contacts/5863779/","id":5863779,"owner":"camilo@hoytrabajas.com","owner_name":"Andres
        Camilo Ruiz Diaz","first_name":"De raiz","last_name":"","status":"cold-lead","title":"Administrador
        para punto","company":null,"emails":[{"type":4,"email":"info@deraiz.com"}],"phones":[],"picture_url":null,"created":"2019-11-13T17:49:46.359237+01:00","last_contact":"2019-11-13T17:55:51.983498+01:00"}]}'
  recorded_at: Mon, 06 Apr 2020 23:41:15 GMT
- request:
    method: get
    uri: https://api.clientify.net/v1/contacts/5863851/tags/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token a7b2a35e8ea5151a084fd5f80479bbdfa0ff0a5c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"count":1,"next":null,"previous":null,"results":[{"name": "candidate"},{"name":"flexi-bd-catering","id":382447129}]}'
  recorded_at: Mon, 06 Apr 2020 23:41:16 GMT
- request:
    method: get
    uri: https://api.clientify.net/v1/contacts/5863779/tags/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token a7b2a35e8ea5151a084fd5f80479bbdfa0ff0a5c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: ASCII-8BIT
      string: '{"count":0,"next":null,"previous":null,"results":[]}'
  recorded_at: Mon, 06 Apr 2020 23:41:16 GMT
recorded_with: VCR 5.1.0
