---
http_interactions:
- request:
    method: post
    uri: https://api.clientify.net/v1/api-auth/obtain_token/
    body:
      encoding: UTF-8
      string: |-
        {
            "username": "vladimir@hoytrabajas.com",
            "password": "unicornio2020"
        }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Allow:
      - POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"token":"a7b2a35e8ea5151a084fd5f80479bbdfa0ff0a5c","user_id":14075}'
  recorded_at: Mon, 09 Mar 2020 20:24:35 GMT
- request:
    method: post
    uri: https://api.clientify.net/v1/contacts/
    body:
      encoding: UTF-8
      string: "{\n    \"email\": \"company@testemail.com\",\n                     \n
        \   \"tags\": [\"employer\", \"htweb\"]\n                     }"
    headers:
      Authorization:
      - Token a7b2a35e8ea5151a084fd5f80479bbdfa0ff0a5c
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Location:
      - https://api.clientify.net/v1/contacts/7040703/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.clientify.net/v1/contacts/7040703/","id":7040703,"owner":"vladimir@hoytrabajas.com","owner_name":"Vladimir
        Guzman","first_name":"","last_name":"","status":"cold-lead","title":"","company":null,"company_details":null,"contact_type":null,"contact_source":null,"emails":[{"type":4,"email":"company@testemail.com"}],"phones":[],"addresses":[],"picture_url":null,"custom_fields":[],"tags":["employer","htweb"],"description":"","remarks":"","summary":"","created":"2020-03-09T21:24:39.793710+01:00","last_contact":null,"related_tasks":[],"deals":[],"wall_entries":[{"url":"https://api.clientify.net/v1/wall-entries/46669068/","id":46669068,"user":"Info
        HoyTrabajas.com","created":"2020-03-09T21:24:39.908173+01:00","extra":"{\"automation_name\":
        \"Al crear etiqueta Employer\", \"automation_link\": \"/automation/3420/\"}","extra_datetime":null,"type":"automation_added","link":"","source_id":"3420","object_id":7040703},{"url":"https://api.clientify.net/v1/wall-entries/46669067/","id":46669067,"user":"Vladimir
        Guzman","created":"2020-03-09T21:24:39.899500+01:00","extra":"{}","extra_datetime":null,"type":"contact_creation","link":"","source_id":"7040703","object_id":7040703}],"page_views":0,"total_visits":0,"first_visit":null,"last_visit":null,"gdpr_accept":false,"visitor_key":"","attachments":[],"websites":[],"linkedin_url":"","linkedin_id":"","linkedin_picture_url":"","skype_username":"","birthday":null,"twitter_id":"","lead_scoring":0,"facebook_url":"","twitter_url":"","googleplus_url":"","pinterest_url":"","foursquare_url":"","aboutme_url":"","klout_url":"","facebook_picture_url":"","twitter_picture_url":"","facebook_id":"","google_id":""}'
  recorded_at: Mon, 09 Mar 2020 20:24:40 GMT
recorded_with: VCR 5.1.0
