---
http_interactions:
- request:
    method: post
    uri: https://api.clientify.net/v1/contacts/
    body:
      encoding: UTF-8
      string: "{\n    \"email\": \"vladimir@hoytrabajas.com\",\n                    \n
        \   \"tags\": [\"candidate\", \"htweb\"]\n                   }"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token a7b2a35e8ea5151a084fd5f80479bbdfa0ff0a5c
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Location:
      - https://api.clientify.net/v1/contacts/7076713/
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.clientify.net/v1/contacts/7076713/","id":7076713,"owner":"vladimir@hoytrabajas.com","owner_name":"Vladimir
        Guzman","first_name":"","last_name":"","status":"cold-lead","title":"","company":null,"company_details":null,"contact_type":null,"contact_source":null,"emails":[{"type":4,"email":"vladimir@hoytrabajas.com"}],"phones":[],"addresses":[],"picture_url":null,"custom_fields":[],"tags":["candidate","htweb"],"description":"","remarks":"","summary":"","created":"2020-03-12T02:11:58.713822+01:00","last_contact":null,"related_tasks":[],"deals":[],"wall_entries":[{"url":"https://api.clientify.net/v1/wall-entries/46983626/","id":46983626,"user":"Vladimir
        Guzman","created":"2020-03-12T02:46:35.667779+01:00","extra":"{}","extra_datetime":null,"type":"contact_modification","link":"","source_id":"7076713","object_id":7076713},{"url":"https://api.clientify.net/v1/wall-entries/46982643/","id":46982643,"user":"Info
        HoyTrabajas.com","created":"2020-03-12T02:31:13.286003+01:00","extra":"{\"message_link\":
        \"/messaging/email/sent-message/5993218/\", \"message_public\": false, \"message_subject\":
        \"\\u00a1Un regalo para t\\u00ed! Ahora tienes Plan Premium en HoyTrabajas.com
        \"}","extra_datetime":null,"type":"sent_message","link":"","source_id":"5993218","object_id":7076713},{"url":"https://api.clientify.net/v1/wall-entries/46979174/","id":46979174,"user":"Milton
        ST Moreno Beltrán","created":"2020-03-12T02:11:58.933552+01:00","extra":"{\"automation_name\":
        \"Haz conseguido trabajo\", \"automation_link\": \"/automation/2751/\"}","extra_datetime":null,"type":"automation_added","link":"","source_id":"2751","object_id":7076713},{"url":"https://api.clientify.net/v1/wall-entries/46979173/","id":46979173,"user":"Milton
        ST Moreno Beltrán","created":"2020-03-12T02:11:58.821437+01:00","extra":"{\"automation_name\":
        \"Primeros 30 d\\u00edas\", \"automation_link\": \"/automation/2672/\"}","extra_datetime":null,"type":"automation_added","link":"","source_id":"2672","object_id":7076713},{"url":"https://api.clientify.net/v1/wall-entries/46979172/","id":46979172,"user":"Vladimir
        Guzman","created":"2020-03-12T02:11:58.807996+01:00","extra":"{}","extra_datetime":null,"type":"contact_creation","link":"","source_id":"7076713","object_id":7076713}],"page_views":0,"total_visits":0,"first_visit":null,"last_visit":null,"gdpr_accept":false,"visitor_key":"","attachments":[],"websites":[],"linkedin_url":"","linkedin_id":"","linkedin_picture_url":"","skype_username":"","birthday":null,"twitter_id":"","lead_scoring":0,"facebook_url":"","twitter_url":"","googleplus_url":"","pinterest_url":"","foursquare_url":"","aboutme_url":"","klout_url":"","facebook_picture_url":"","twitter_picture_url":"","facebook_id":"","google_id":""}'
  recorded_at: Thu, 12 Mar 2020 01:46:36 GMT
- request:
    method: get
    uri: https://api.clientify.net/v1/contacts/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token a7b2a35e8ea5151a084fd5f80479bbdfa0ff0a5c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Allow:
      - GET, POST, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"count":2743,"next":"https://api.clientify.net/v1/contacts/?page=2","previous":null,"results":[{"url":"https://api.clientify.net/v1/contacts/7010506/","id":7010506,"owner":"dayana@hoytrabajas.com","owner_name":"Dayana
        Aguilar","first_name":"Marylin","last_name":"Montoya","status":"hot-lead","title":"Lider
        de Selección y desarrollo","company":"https://api.clientify.net/v1/companies/754734/","company_name":"Coltanques","emails":[{"type":4,"email":"seleccion@coltanques.com.co"}],"phones":[],"picture_url":null,"created":"2020-03-06T17:50:09.161895+01:00","last_contact":"2020-03-06T15:00:00+01:00"},{"url":"https://api.clientify.net/v1/contacts/6837611/","id":6837611,"owner":"dayana@hoytrabajas.com","owner_name":"Dayana
        Aguilar","first_name":"Yury","last_name":"Nova","status":"cold-lead","title":"","company":"https://api.clientify.net/v1/companies/944957/","company_name":"Prosegur
        Sas","emails":[],"phones":[{"type":1,"phone":"3213734927"}],"picture_url":null,"created":"2020-02-20T20:25:29.029547+01:00","last_contact":"2020-02-20T20:26:12.969228+01:00"},{"url":"https://api.clientify.net/v1/contacts/5297735/","id":5297735,"owner":"operaciones@hoytrabajas.com","owner_name":"Operaciones
        Hoytrabajas","first_name":"","last_name":"","status":"cold-lead","title":"","company":null,"emails":[{"type":4,"email":"mariiana.0816@gmail.com"}],"phones":[{"type":1,"phone":"3235097337"}],"picture_url":null,"created":"2019-09-2[...]
