---
http_interactions:
- request:
    method: post
    uri: https://api.clientify.net/v1/api-auth/obtain_token/
    body:
      encoding: UTF-8
      string: |-
        {
            "username": "vladimir@hoytrabajas.com",
            "password": "unicornio2020"
        }
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Allow:
      - POST, OPTIONS
    body:
      encoding: UTF-8
      string: '{"token":"a7b2a35e8ea5151a084fd5f80479bbdfa0ff0a5c","user_id":14075}'
  recorded_at: Sun, 15 Mar 2020 21:50:35 GMT
[...]
- request:
    method: put
    uri: https://api.clientify.net/v1/contacts/7120438/
    body:
      encoding: UTF-8
      string: "{\n    \"first_name\": \"HoyTrabajas.com\",\n             \n    \"last_name\":
        \"\",\n             \n    \"phone\": \"3101234567\"\n            }"
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token a7b2a35e8ea5151a084fd5f80479bbdfa0ff0a5c
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      Allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"url":"https://api.clientify.net/v1/contacts/7120438/","id":7120438,"owner":"vladimir@hoytrabajas.com","owner_name":"Vladimir
        Guzman","first_name":"HoyTrabajas.com","last_name":"","status":"cold-lead","title":"","company":null,"company_details":null,"contact_type":null,"contact_source":null,"emails":[{"type":4,"email":"lyndon_hermiston@dibbert.info"}],"phones":[{"type":1,"phone":"3101234567"}],"addresses":[],"picture_url":null,"custom_fields":[],"tags":["employer","htweb"],"description":"","remarks":"","summary":"","created":"2020-03-15T19:15:11.411468+01:00","last_contact":null,"related_tasks":[],"deals":[],"wall_entries":[{"url":"https://api.clientify.net/v1/wall-entries/47341904/","id":47341904,"user":"Vladimir
        Guzman","created":"2020-03-15T22:50:36.732395+01:00","extra":"{}","extra_datetime":null,"type":"contact_modification","link":"","source_id":"7120438","object_id":7120438},{"url":"https://api.clientify.net/v1/wall-entries/47331744/","id":47331744,"user":"Info
        HoyTrabajas.com","created":"2020-03-15T19:31:09.141303+01:00","extra":"{\"message_link\":
        \"/messaging/email/sent-message/6006303/\", \"message_public\": false, \"message_subject\":
        \"[Video] C\\u00f3mo crear tus ofertas GRATIS en HoyTrabajas \\ud83d\\ude0e\"}","extra_datetime":null,"type":"sent_message","link":"","source_id":"6006303","object_id":7120438},{"url":"https://api.clientify.net/v1/wall-entries/47331718/","id":47331718,"user":"Info
        HoyTrabajas.com","created":"2020-03-15T19:31:06.730667+01:00","extra":"{\"automation_name\":
        \"Al crear etiqueta Employer\", \"automation_link\": \"/automation/3420/\"}","extra_datetime":null,"type":"automation_completed","link":"","source_id":"3420","object_id":7120438},{"url":"https://api.clientify.net/v1/wall-entries/47331029/","id":47331029,"user":"Info
        HoyTrabajas.com","created":"2020-03-15T19:15:11.516436+01:00","extra":"{\"automation_name\":
        \"Al crear etiqueta Employer\", \"automation_link\": \"/automation/3420/\"}","extra_datetime":null,"type":"automation_added","link":"","source_id":"3420","object_id":7120438},{"url":"https://api.clientify.net/v1/wall-entries/47331028/","id":47331028,"user":"Vladimir
        Guzman","created":"2020-03-15T19:15:11.496580+01:00","extra":"{}","extra_datetime":null,"type":"contact_creation","link":"","source_id":"7120438","object_id":7120438}],"page_views":0,"total_visits":0,"first_visit":null,"last_visit":null,"gdpr_accept":false,"visitor_key":"","attachments":[],"websites":[],"linkedin_url":"","linkedin_id":"","linkedin_picture_url":"","skype_username":"","birthday":null,"twitter_id":"","lead_scoring":5,"facebook_url":"","twitter_url":"","googleplus_url":"","pinterest_url":"","foursquare_url":"","aboutme_url":"","klout_url":"","facebook_picture_url":"","twitter_picture_url":"","facebook_id":"","google_id":""}'
  recorded_at: Sun, 15 Mar 2020 21:50:37 GMT
recorded_with: VCR 5.1.0
