%div.o-companiesListCandidades
  %div.m-mainContainer
    %div.a-title Ejecutivo comercial sector salud
    %div.m-tags
      %span.a-tag__orange Inicio inmediato
      %span.a-tag__gray Bogotá D.C.
      %span.a-tag__aqua Belleza, Bienestar y Salud
    %div.m-detailsContainer
      %div.m-ditails
        %div.m-closeDateContainer
          Cierre de la oferta
          %span.a-closeDate 25 Agosto 2019
        %div.m-candidatesCountContainer
          Aplicaciones
          %span.a-candidatesCount 26 Candidatos
        %a{href: '/'}
          %button Ver oferta
    %div.o-listCandidates

      %div.o-listCandidates__container
        %div.m-candidateBox
          %img.a-avatar{src: 'http://bit.ly/2SmJyNg'}
          %div.m-detailsContainer
            %div.m-nameContaintainer
              %span.a-name Oscar Hernan Guzman
              %span.a-location La Dorada, Caldas
            %div.m-skillsContainer
              %span.a-title--skills
              %span.a-skills
          %div.m-affinityPercentageContainer
            %span.a-affinityPercentage 99%
          %div.m-profileButtonContainer
            %a
              %button.--profileButton Ver perfil

      %div.o-listCandidates__container
        %div.m-candidateBox
          %img.a-avatar{src: 'http://bit.ly/2SmJyNg'}
          %div.m-detailsContainer
            %div.m-nameContaintainer
              %span.a-name Oscar Hernan Guzman
              %span.a-location La Dorada, Caldas
            %div.m-skillsContainer
              %span.a-title--skills
              %span.a-skills
          %div.m-affinityPercentageContainer
            %span.a-affinityPercentage 99%
          %div.m-profileButtonContainer
            %a
              %button.--profileButton Ver perfil