
.m-accordionButton {
  background-color: white;

  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;

  font-size: 0.8125rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.23px;

  color: $color__slategray-dark;
}

img {
  object-fit: cover;
  width: 100%;
  height: auto;

  &.a-appliedOfferModal {
    &.__personImage {
      height: auto;
      width: auto;
    }
  }
}

.o-mainContainer {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  min-height: 100vh;

  padding-top: 7.1vh;
  padding-left: 10vw;
  padding-right: 10vw;

  background-color: rgba(247, 248, 250, 0.9);
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);

  background-image:url('/img/backgrounds/steps/primary.png');
  background-repeat: repeat-x;
  background-position: top;

  @media only screen and (max-width: 768px) {
    padding: 1rem 0.4rem;
  }


  .o-offersShowPageContainer {

    display: flex;

    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;
    }

    .m-offerInformationContainer {
      border-radius: 10px;
      box-shadow: 0 12px 30px 1px $color__palelilac-main;
      background-color: white;

      width: 50vw;
      max-width: 1280px;

      margin: 0 1vh 0 0;

      @media only screen and (max-width: 768px) {
        width: 100%;
      }

      .offerTitle {
        font-size: 2.125rem;
        font-weight: 800;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.24;
        letter-spacing: normal;

        color: $color__slategray-dark;

        @media only screen and (max-width: 768px) {
          font-size: 1rem;
        }
      }

      .m-offerSection {
        margin: 0 6rem;

        @media only screen and (max-width: 768px) {
          margin: 1rem;
        }

        @media only screen and (min-width: 769px) {
          &.__top {
            margin-top: 4rem;
          }

          &.__bottom {
            margin-bottom: 4rem;
          }

          &.--divider {
            height: 2px;
            opacity: 0.5;
            border: solid 1px $color__snow-main;
            margin-bottom: 2.5rem;
          }
        }

      }

      .m-affinityPercentageSection {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;

        &.__desktop {
          margin-top: 0;
          margin-right: 2rem;
          @media only screen and (max-width: 768px) {
            display: none;
          }
        }

        &.__mobile {
          @media only screen and (min-width: 769px) {
            display: none;
          }
        }

        .m-affinityPercentageTag {
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          border-radius: 15.3px;
          box-shadow: 0 3px 15px 2px rgba(235, 235, 240, 0.8), 0 36px 40px -13px $color__palelilac-main;
          background-color: white;

          font-size: 0.73125rem;
          font-weight: 800;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.49px;

          color: $color__blue-main;

          .__percentage {
            font-size: 0.9375rem;
            font-weight: 800;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
          }
        }

        .a-likeCompanyButton {
          &.__pink {
            background-color: $color__pink-light;
          }
        }
      }

      .m-tags {
        display: flex;
        flex-wrap: wrap;

      }

      .m-otherDetailsContainer {
        background-color: $color__snow-extralight;

        .m-offerSection {
          display: flex;
          align-items: center;

          margin: 2.5rem 6rem;

          min-height: 3rem;
          height: auto;

          font-size: 0.875rem;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.64;
          letter-spacing: 0.015625rem;
          color: $color__slategray-main;

          @media only screen and (max-width: 768px) {
            margin: 1rem;
          }

          .m-otherDetail {
            display: flex;
            flex-wrap: wrap;

            label {
              margin-right: 1rem;
            }

            span {
              font-size: 0.875rem;
              font-weight: bold;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.64;
              letter-spacing: 0.25px;
              color: $color__blue-main;
              margin-right: 1rem;
            }
          }

        }
      }

      .a-offerDescription {
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.63;
        letter-spacing: 0.5px;
        color: $color__slategray-main;

        @media only screen and (max-width: 768px) {
          font-size: 0.8125rem;
          line-height: 1.5;
          letter-spacing: 0.41px;
        }
      }

      .m-buttonsContainer {
        margin: 3rem 0;
        display: flex;
        justify-content: flex-start;

        @media only screen and (max-width: 768px) {
          flex-wrap: wrap;
          justify-content: center;
        }

        .a-applyButtonWrapper {
          @media only screen and (max-width: 768px) {
            position: fixed;
            bottom: 20px;
          }
        }

        button {
          margin-right: 1rem;

          @media only screen and (max-width: 768px) {
            margin: 0.5rem 0;

          }
        }
      }

      .m-OfferDetailsContainer {
        .detailTitle {
          font-size: 1.125rem;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.78;
          letter-spacing: 0.14px;
          color: $color__blue-main;
          margin-bottom: 1.75rem;

          &.--secondary {
            margin-top: 2rem;
          }

        }

        button.detailTitle {
          display: flex;
          align-items: center;
          justify-content: space-between;
          font-size: 0.8125rem;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: 0.23px;

          color: $color__slategray-dark;
        }

        .m-detailsList {
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.63;
          letter-spacing: 0.5px;
          color: $color__slategray-dark;

          .m-detail {
            display: flex;

            .a-labelBox {
              display: inline-block;
              width: 50%;
            }
            .a-spanBox {
              width: 50%;
              font-weight: bold;
              color: $color__slategray-main;
            }
          }
        }

        &.__desktop {
          @media only screen and (max-width: 768px) {
            display: none;
          }
        }

        &.__mobile {
          @media only screen and (min-width: 769px) {
            display: none;
          }
        }
      }

    }

    .m-aditionalIformationContainer {

      width: 7.1rem;
      margin: 0 1vh;
      width: auto;
      max-width: 350px;

      @media only screen and (max-width: 768px) {
        margin: 1rem 1vw;
        width: 100%;

        max-width: none;
      }


      .m-companyContainer {
        border-radius: 10px;
        box-shadow: 0 12px 30px 1px $color__palelilac-main;
        background-color: white;

        min-width: 350px;

        padding: 2rem;


        img {
          &.a-companyLogo {
            height: 60px;
            width: 60px;
            box-shadow: 0 6px 8px -2px $color__palelilac-main;
            border: solid 2.6px white;
            border-radius: 10px;

            margin-bottom: 1.25rem;

            @media only screen and (max-width: 768px) {
              display: none;
            }
          }
        }

        .a-companyName {
          font-size: 1.5rem;
          font-weight: 800;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.25;
          letter-spacing: normal;

          color: $color__blue-main;

          margin-bottom: 6px;
        }

        .a-companyIndustry {
          font-size: 0.875rem;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.64;
          letter-spacing: 0.1px;
          color: $color__slategray-main;

          margin-bottom: 1.75rem;
        }

        .m-companyDetails {
          line-height: 1.75;
          letter-spacing: 0.17px;
          color: #77818f;

          margin-bottom: 2rem;

          .__employeesRange {
            font-weight: 800;
          }

          .__contact {
            text-decoration: underline;
          }

          .__URL {
            font-weight: 800;
            color: $color__blue-main;
          }
        }

        button {
          height: 2.5rem;
        }

      }
    }
  }

  .o-relatedOffersContainer {
    padding-top: 7.1vh;

    @media only screen and (max-width: 768px) {
      display: none;
    }

    .__title {
      font-size: 1.5rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.62;
      letter-spacing: normal;
      color: $color__blue-main;

      margin-bottom: 3.75rem;
    }
  }
}