= render '/shared/header'
= react_component("src/components/FormsLayout/FormProgress", { value: FormProgressManager.calculate_user_progress(10) }, prerender: false)
= react_component('views/users/wizards/step_nines/show',
  {formInfo: @educational_level.show_form_information,
  csrf_param: request_forgery_protection_token,
  csrf_token: form_authenticity_token,
  log_out_user: destroy_user_session_path,
  log_out_companies: destroy_company_session_path,
  user_signed_in: user_signed_in?,
  company_signed_in: company_signed_in?,
  session_translation: I18n.t("session"),
  user_facebook_omniauth_authorize_path: user_facebook_omniauth_authorize_path }, prerender: false)
