.a-button {
  @extend button;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  line-height: 1.75;
  border: none;
  border-radius: 50px;
  -webkit-appearance: none;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  @media (max-width: 576px) {
    font-size: 1rem;
    line-height: 26px;
  }
}

.a-button--disabled {
  display: none;
}

.a-button,
.a-fabButton {
  &.--primary {
    background: $color__orange-main;
    color: white;
  }

  &.--secondary {
    background: $color__blue-main;
    color: white;
  }

  &.--white {
    color: $color__slategray-main;
    box-shadow: 0 3px 3px -2px $color__palelilac-main,
      0 2px 8px 1px $color__palelilac-main,
      0 6px 15px 1px $color__palelilac-main;
    background: $color__white-main;
    border: solid 0.6px $color__slateblue-main;
  }

  &.--big {
    padding: 12px 60px;
    min-width: 64px;

    @media (max-width: 576px) {
      width: 100%;
      padding: 10px 0;
      min-height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.8px;
    }

    &.--rounded {
      border-radius: 24px;
    }
  }

  &.--close {
    color: $color__slategray-extralight;
  }

  &.--outlined {
    background: $color__white-main;
    color: $color__gray-light;
    border: 1px solid transparentize($color__gray-light, 0.2);
  }
}

.a-buttonFab {
  cursor: pointer;
  outline: none;
  border: none;
  width: 56px;
  height: 56px;
  padding: 0;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  min-height: 36px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-weight: 400;
  line-height: 1.75;
  border-radius: 50%;
  text-transform: uppercase;
}

button {
  transition: 0.3s;

  &.--watchProfile {
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #d5dbe3;
    display: inline-block;
    cursor: pointer;
    color: #0b5ba0;
    font-family: Arial;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 1vh 3vw;
    text-decoration: none;

    &:hover {
      background-color: $color__gray-extralight;
    }
    &:active {
      position: relative;
      top: 1px;
    }
  }

  &.a-actionButton {
    display: flex;
    align-items: center;
    background-color:$color__orange-main;
    border-radius:24px;
    border:1px solid $color__orange-main;
    cursor:pointer;
    color: white;
    font-size: 0.7875rem;
    font-weight:bold;
    padding: 1vh 2vw;

    @media screen and (max-width: 768px) {
      padding:1vh 30vw;
    }

    &:hover {
      background-color: $color__blue-main;
      border:1px solid $color__blue-main;
    }

    &:active{
      position:relative;
      top:1px;
    }

    span {
      margin: 0 1rem ;
    }

    &.--secondaryAction {
      background-color: white;
      border:1px solid $color__blue-main;
      color: $color__blue-main

    }

    &.--disabled {
      background-color: grey;
      border:1px solid gray;
    }
  }
}

.a-button__toggleFooter {
  color: $color__blue-main;
  font-weight: bold;
  letter-spacing: normal;
  line-height: normal;
  background: none;
  width: 100%;
  cursor: pointer;
  padding: 10px 30px;
  text-align: left;

  span {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
  }

  span:after {
    content: '';
    height: 0;
    width: 0;
    margin: 0 0 2px 7px;
    border: solid $color__blue-main;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  span.opened:after {
    margin: 0 0 -4px 7px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
}
