/*########################################################################
# SKILL
########################################################################*/

span.a-skill {
  background-color: #f1f2f3;
  border-radius: 10.2px;
  font-weight: normal;
  font-size: 0.75rem;
  padding: 3px 9px;
  color: #979797;
}
