/*########################################################################
# SKILL
########################################################################*/

span.a-skill {
  background-color: $color__gray-extralight;
  border-radius: 10.2px;
  font-weight: normal;
  font-size: 0.75rem;
  padding: 3px 9px;
  color: $color__gray-light;

  &.color-orange {
    background-color: $color__orange-main;
    color: #fff;
  }
  &.incomplete {
    background-color: $color__pink-extralight;
    color: $color__pink-main;
  }
}
