/*########################################################################
# SKILL
########################################################################*/

.a-skill {
  border-radius: 22px;
  font-weight: normal;
  font-size: 0.875rem;
  padding: 3px 9px;
  color: $color__slategray-main;
  border: 1px solid $color__slategray-main;
  display: inline-block;

  @media only screen and (max-width: 576px) {
    font-size: 0.875rem;
  }

  &.--withMargin {
    margin: 0 5px 10px 0;
  }

  &.color-orange {
    background-color: $color__orange-extralight;
    color: $color__orange-main;
    border: none;
  }

  &.incomplete {
    background-color: $color__pink-extralight;
    color: $color__pink-main;
    border: none;
  }

  &.--noBG {
    background-color: transparent;
    padding: 0;
    border: none;
    color: $color__slategray-main;
    font-size: 1rem;
  }
}
