.a-typo__body1 {
  font-size: 1rem;
  letter-spacing: 0.5px;
}

.a-typo__subtitle1 {
  font-size: 1rem;
  letter-spacing: 0.15px;
}

.a-typo__subtitle2 {
  font-size: 0.875rem;
  letter-spacing: 0.1px;
}

.a-typo__overline {
  font-size: 0.625rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
