.a-typo__title-h1 {
  font-size: 96px;
  letter-spacing: -1.5px;
  font-weight: 300;
}

.a-typo__title-h2 {
  font-size: 60px;
  letter-spacing: -0.5px;
  font-weight: 300;
}

.a-typo__title-h3 {
  font-size: 48px;
  letter-spacing: 0;
}

.a-typo__title-h4 {
  font-size: 34px;
  letter-spacing: 0.25px;
}

.a-typo__title-h5 {
  font-size: 24px;
  letter-spacing: 0.5px;
}

.a-typo__title-h5 {
  font-size: 20px;
  letter-spacing: 0.25px;
}

.a-typo__body-1 {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.a-typo__body-2 {
  font-size: 14px;
  letter-spacing: 0.25px;
}

.a-typo__subtitle-1 {
  font-size: 16px;
  letter-spacing: 0.15px;
}

.a-typo__subtitle-2 {
  font-size: 14px;
  letter-spacing: 0.1px;
}

.a-typo__button {
  font-size: 14px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  font-weight: 800;
}

.a-typo__caption {
  font-size: 12px;
  letter-spacing: 0.4px;
}

.a-typo__overline {
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
