.a-filter__gray {
  img {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    opacity: 0.4;
    transition: all 0.25s ease;
  }

  &:hover img {
    -webkit-filter: grayscale(0);
    filter: none;
    opacity: 1;
  }
}
