= react_component('pages',
  {offers: @presenter.offers,
   alert_message: alert,
   notice_message: notice,
   csrf_param: request_forgery_protection_token,
   csrf_token: form_authenticity_token,
   companies_registration_path: company_registration_path,
   companies_sessions_path: company_session_path,
   log_out_companies: destroy_company_session_path,
   users_registration_path: user_registration_path,
   users_sessions_path: user_session_path,
   log_out_user: destroy_user_session_path,
   company_signed_in: company_signed_in?,
   user_signed_in: user_signed_in?,
   filterForm: @presenter.data_filter,
   common: @presenter.categories,
   path_applied_offers: applied_offers_path,
   session_translation: I18n.t("session"),
   user_facebook_omniauth_authorize_path: user_facebook_omniauth_authorize_path,
   offer_translations: I18n.t("offers")}, prerender: false)
