= render '/shared/header'
= react_component('pages',
  {offers: @presenter.offers,
   csrf_param: request_forgery_protection_token,
   csrf_token: form_authenticity_token,
   filterForm: @presenter.data_filter,
   common: @presenter.categories,
   path_applied_offers: applied_offers_path,
   offers_path: offers_path,
   new_offer_path: companies_first_offer_step_zero_path,
   home_translations: I18n.t("home"),
   offer_translations: I18n.t("offers")}, prerender: false)
= render '/shared/footer'
