%h1 El empleado ideal
%h1 ¡si existe!

%p Y crear una oferta atractiva para llegar
%p a el es muy fácil ¡Vamos a hacerlo!

= link_to "Quiero públicar mi oferta", companies_first_offer_step_one_path

-# TODO With prerender the comp break de view
= react_component('src/views/offers/index', {}, prerender: false)