= react_component("views/users/wizards/step_zeros/show", {users_wizards_step_one_path: companies_first_offer_step_one_path}, prerender: true)

-# TODO With prerender the comp break de view
= react_component('src/views/offers/index', {}, prerender: false)
