= react_component("views/companies/first_offer/step_zeros/show",
  { path: companies_first_offer_step_one_path,
    t: @company.translation },
  prerender: true)

-# TODO With prerender the comp break de view
= react_component('pages/offers', {}, prerender: false)
