<<<<<<< HEAD
= react_component("views/users/wizards/step_zeros/show", {users_wizards_step_one_path: users_wizards_step_one_path}, prerender: true)
=======
%h1 El trabajo ideal
%h1 ¡si existe!

= link_to "Quiero públicar mi oferta", users_wizards_step_one_path

= react_component('pages/regcan', {}, prerender: true)
>>>>>>> refactor of step_zero (users)
