= react_component('src/components/Layout/Header', {}, prerender:true)
= react_component('src/views/main/home/sections/companies', {}, prerender: true)
= react_component('src/components/Layout/Footer/Footer', {}, prerender: true)
