= render '/shared/header'
= react_component('pages/dashboards/index',
  {csrf_param: request_forgery_protection_token,
  csrf_token: form_authenticity_token,
  translations: I18n.t("users.dashboards.show"),
  applied_offers: @user.applied_offers,
  dashboard_main_data: @user.dashboard_main_data}, prerender: false)
= render '/shared/footer'
