/*/////////////////////////////////////////
/              Primary Colors             /
/////////////////////////////////////////*/

$color__orange-main:              #ff7b00;
$color__orange-light:             #ff9c40;
$color__orange-extralight:        #ffdebf;
$color__blue-main:                #0b5aa0;
$color__blue-light:               #4884b8;
$color__blue-extralight:          #c2d6e7;

/*/////////////////////////////////////////
/             Secondary Colors            /
/////////////////////////////////////////*/

$color__yellow-main:              #ffb400;
$color__yellow-light:             #ffc740;
$color__yellow-extralight:        #ffecbf;
$color__pink-main:                #ee4266;
$color__pink-light:               #f3728d;
$color__pink-extralight:          #fbd0d9;
$color__aqua-main:                #41ead4;
$color__aqua-light:               #71f0df;
$color__aqua-extralight:          #cffaf4;
$color__slategray-dark:           #374456;
$color__slategray-main:           #647a99;
$color__slategray-light:          #92a7ba;
$color__slategray-extralight:     #b7d0e2;
$color__gray-main:                #d5dbe3;
$color__gray-light:               #f4f6f8;
$color__gray-extralight:          #f9fafb;

