= react_component('views/devise/sessions/new/index',
  {session_translation: I18n.t("session"),
   alert_message: alert,
   notice_message: notice,
   csrf_param: request_forgery_protection_token,
   csrf_token: form_authenticity_token,
   sessions_path: session_path(resource),
   source_name: resource_name,
  }, prerender: false)
