/*########################################################################
# STEP ELEVEN
########################################################################*/

.action-buttons-container {

  display: flex;
  flex-direction: column;
  justify-content: center;

  a.home_link {
    align-self: center;
    text-decoration: underline;
    font-size: 0.75rem;
    color:gray;
    margin-bottom: 5rem;
    margin-top: 1rem;
  }

  button{
    cursor: pointer;
    align-self:center;
    padding: 0.5rem;
    width: 18rem;
    margin: 0.5rem;
    border-radius: 33px;
    font-weight: bold;
    font-size: 1rem;

    &.accept {
      box-shadow: 0 6px 12px 0 rgba(245, 114, 15, 0.37);
      color: white;
      background-color: #ff6e00;

      &.next{
        margin-top: 3rem;
      }
    }

  }
}
