= render partial: '/shared/meta_tags_offers_index', locals: { meta_tags_builders: @offers.meta_tags_builders }

= render '/shared/header'
= react_component('views/offers',
  {offers: @offers.carousal_offers_list,
    csrf_param: request_forgery_protection_token,
    csrf_token: form_authenticity_token,
    path_applied_offers: applied_offers_path,
    title_aditional_description: @offers.adtional_title_description,
    offer_translations: @offers.component_translations}, prerender: false)
= render '/shared/footer'
