= react_component('pages/detalle_oferta',
  { log_out_companies: destroy_company_session_path,
    translationOffer: @offer.component_translations,
    csrf_param: request_forgery_protection_token,
    relatedOffers: @offer.related_offer_show,
    log_out_user: destroy_user_session_path,
    session_translation: I18n.t("session"),
    pathAppliedOffers: applied_offers_path,
    company_signed_in: company_signed_in?,
    offer_translations: I18n.t("offers"),
    csrf_token: form_authenticity_token,
    user_signed_in: user_signed_in?,
    user_facebook_omniauth_authorize_path: user_facebook_omniauth_authorize_path,
    offer: @offer.show_details },
  prerender: false)
