= render '/shared/header'
= react_component('pages/detalle_oferta',
  { translationOffer: @offer.component_translations,
    csrf_param: request_forgery_protection_token,
    relatedOffers: @offer.related_offer_show,
    pathAppliedOffers: applied_offers_path,
    offer_translations: I18n.t("offers"),
    csrf_token: form_authenticity_token,
    offer: @offer.show_details }, prerender: false)
= render partial: '/shared/footer'
