= react_component('pages/dashboards/enterprises/index',
    {csrf_param: request_forgery_protection_token,
    csrf_token: form_authenticity_token,
    log_out_user: destroy_user_session_path,
    log_out_companies: destroy_company_session_path,
    companies_registration_path: company_registration_path,
    companies_sessions_path: company_session_path,
    users_registration_path: user_registration_path,
    users_sessions_path: user_session_path,
    user_signed_in: user_signed_in?,
    company_signed_in: company_signed_in?,
    session_translation: I18n.t("session"),
    component_translations: @company.component_translations,
    my_offers: @company.my_offers,
    user_facebook_omniauth_authorize_path: user_facebook_omniauth_authorize_path },
  prerender: false)
