= render '/shared/header'
= react_component('pages/dashboards/enterprises/index',
    {component_translations: @company.component_translations,
    edit_offer_path: companies_first_offer_step_three_path,
    my_offers: @company.my_offers }, prerender: false)
= render '/shared/footer'
