
= react_component('views/users/wizards/step_twos/show', { csrf_name: request_forgery_protection_token, csrf_token: form_authenticity_token }, prerender: false)
- # formInfo: @user.form_information,

- #%h1 Empecemos por conocernos
- #%h3 Brinda a las empresas información valiosa sobre ti.
- #
- #= form_for(:user, url: users_wizards_step_two_path, method: :put, html: { id: :step_two } ) do |field|
- #  - render 'shared/form_errors', source: @user
- #
- #  = hidden_field_tag :operation, :step_two
- #
- #  = field.label :about_me, "Cuentanos un poco de ti*"
- #  = field.text_field :about_me
- #
- #  = field.label :sex, "Genero*"
- #  = field.select :sex_id, @user.sexes_list, { prompt: "Seleccione un genero"}
- #
- #  = field.label :birthday, "Fecha de nacimiento"
- #  = field.date_field :birthday
- #
- #  = field.label :limitations, "Condiciones especiales"
- #  = field.select(:limitation_ids, @user.limitations_list,{ prompt: "Seleccione una limitacion"}, { :multiple => true })
- #
- #  = field.label :educational_degree, "Ultimo titulo educativo alcanzado"
- #  = field.select(:educational_degree_id, @user.educational_degrees_list,{ prompt: "Seleccione"})
- #
- #  = field.submit("siguiente")