.o-homeSteps {
  position: relative;
  background: url('/assets/static/img/bg-home.png');
  background-position: center center;
  background-repeat: no-repeat;

  .stepsGrid {
    width: 100%;
    max-width: 1150px;
    padding: 0 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: auto;
    @media (max-width: 575px) {
      display: none;
    }
    @media (max-width: 900px) and (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
      max-width: 600px;
    }
  }

  .singleStep {
    display: flex;
    flex-direction: column;
  }

  .stepImage {
    display: block;
    object-fit: contain;
  }

  .stepDescription {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color__blue-main;
    font-weight: 800;
    margin-top: auto;
    padding-top: 10px;

    .stepNumber {
      border-radius: 50%;
      border: 1px solid $color__blue-main;
      padding: 10px;
      min-width: 40px;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      margin-right: 10px;
    }

    .stepTitle {
      font-weight: 800;
      margin: 0;
    }
  }
}
