.o-offers__wrapper {
  max-width: 1250px;
  padding: 0 60px 60px;
  margin: auto;
  overflow: hidden;

  @media (max-width: 900px) {
    padding: 0 30px;
  }

  @media (max-width: 576px) {
    padding: 30px 0;
    background-color: $color__palelilac-dark;
  }

  .offersTitle {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 1.938rem;
    line-height: 41px;

    @media (max-width: 575px) {
      text-align: center;
      font-size: 1.25rem;
      padding: 0 40px;
      margin-bottom: 30px;
    }
  }

  .offersGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin: auto;
    @media (max-width: 575px) {
      grid-template-columns: 1fr;
      padding: 0 10%;
    }
    @media (max-width: 900px) and (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 1200px) and (min-width: 901px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .offers__gridWrapper {
    @media (max-width: 576px) {
      display: none;
    }
  }

  .offers__carouselWrapper {
    display: none;
    @media (max-width: 576px) {
      display: block;
    }
  }

  .slick-track {
    display: flex !important;
  }

  .slick-slide {
    height: inherit !important;
    > div {
      height: 100%;
    }
  }

  .slick-list {
    overflow: visible;
  }

  .slick-dots {
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    li,
    li button {
      width: auto;
      height: auto;
      padding: 0;
    }

    li.slick-active button:before {
      color: $color__orange-main;
      font-size: 0.625rem;
      margin-top: 1px;
    }
  }

  .slick-slide {
    margin: 0 7.5px;
  }

  .slick-slide.slick-active {
    .m-offer {
      height: 110%;
    }
  }
}
